@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono&display=swap');

/* General styling */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
}

body {
    color: #000;
    background: white;
}

a {
    text-decoration: none;
    color: inherit
}

#game-area {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #99bdd8;
}

/* Main Menu */ 

#start-menu {
    display: inline-grid;
    align-content: center;
}

#logo {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
}

#start-menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border: 2px solid black;
}

.menu-buttons {
    font-size: 1.5rem;
    margin: 5px;
    width: 220px;
    border: 2px solid black;
    background-color: white;
}

/* Difficulty Settings Picker*/

#difficulty-settings {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#difficulty-settings > div {
    display: flex;
    flex-direction: row;
}

#difficulty-settings > div > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 135px;
    width: 135px;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
    background-color: white;
}

#difficulty-settings > div > button * {
    font-size: 1.5rem;
}

#difficulty-settings > div > #difficulty-settings-back-button {
    margin: 5px;
    height: 50px;
    width: 280px;
    border: 2px solid black;
}

/* Custom Difficulty Settings Menu */

table * {
    font-size: 1rem;
}

#custom-difficulty-settings {    
    text-align: center;
    display: none;
    align-content: center;
}

#custom-difficulty-settings > * {
    display: flex;
    justify-content: center;
}

#custom-difficulty-settings button {
    border: 2px solid black;
    width: 220px;
    font-size: 1rem;
    margin: 2px;
}

#custom-difficulty-settings-instructions {
    width: 275px;
    font-size: 1.2rem;
}

.input-field-number {
    width: 55px;
}

input {
    border: 1px solid black;
    width: 210px;
    text-align: center;
}

/* Playing Field */

#playing-field-area {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Space Mono';
    margin: 0 20px;
}

#top-menu > span {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top-menu > span > i {
    font-size: 2rem;
}

.square {
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
    margin: 1px;
    color: rgba(102, 79, 79, 0);
    border-radius: 3px;
    border: 1px solid black;
}

.square:hover {
    background-color: rgb(185, 182, 182);
}

.square:active {
    background-color: rgb(196, 145, 145);
}

#smileyface {
    font-family: 'Space Mono';
    font-weight: 600;
}

#actual-playing-field {
    padding: 5px;
    border: solid 2px black;
}


/* How To Play Page*/

#how-to-play {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#explanations {
    border: 2px solid black;
}

#explanations * {
    font-size: 1.2rem;
}

#explanations-heading {
    font-size: 1.5rem;
}

#explanations > div {
    text-align: center;
    padding-top: 20px;
}

.explanations-image-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanations-image-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanation-with-picture {
    display: flex;
    align-items: center;
}

#how-to-play-back-button {
    font-size: 1.5rem;
}

/* Settings Menu */

#settings {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings > div {
    width: 80vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#settings > div > p {
    padding-bottom: 10px;
}

#settings * {
    font-size: 1.5rem;
}

.color-picker-box {
    height: 40px;
    width: 40px;
    margin: 5px;
    border: 2px solid black;
}

#desktop-mode-button {
    background-color: red;
    border: 2px solid black;
    width: 220px;
}


/* Media Queries */

/* Small Devices (portrait phones, 540px and up */

@media screen and (min-width:540px) {

    /* Playing Field*/

    .square {
        font-size: 1.5rem;
    }

    /* How to Play Page */

    #explanations {
        padding: 5px;
    }

    #explanations * {
        font-size: 1.5rem;
        padding: 5px;
    }

    #explanations > div {
        width: 90vw;
    }

    #explanations-heading {
        font-size: 2rem;
    }

    /* Settings */

    #settings > div {
        width: 500px;
    }
}

/* Medium Devices (tablets, 768px and up */

@media screen and (min-width:768px) {

    /* How To Play Page */

    .explanations-image-left {
        flex-direction: row;
    }

    .explanations-image-right {
        flex-direction: row-reverse;
    }

    #explanations > div {
        width: 80vw;
    }

    div.image-right {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    div.image-left {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Devices like the iPad Mini and larger devices */

@media screen and (min-width:1024px) {

    /* How To Play Page */

    #explanations > div {
        width: 900px;
    }
}