@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

body {
    color: #000;
    background: white;
}

a {
    text-decoration: none;
    color: inherit
}

#game-area {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#start-menu {
    display: inline-grid;
    align-content: center;
}

#logo {
    text-align: center;
    letter-spacing: 2px;
}

#start-menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 2px solid black;
}

#start-menu-buttons * {
    margin: 5px;
    width: 200px;
    border: 2px solid black;
}

#difficulty-settings {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#difficulty-settings > div > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 135px;
    width: 135px;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
}

#difficulty-settings > div > button * {
    font-size: 1.2rem;
}

#custom-difficulty-settings {    
    text-align: center;
    display: none;
    align-content: center;
}

#custom-difficulty-settings > * {
    display: flex;
    justify-content: center;
}

#custom-difficulty-settings button {
    border: 2px solid black;
    width: 220px;
}

#custom-difficulty-settings-instructions {
    width: 300px;
}

.input-field-number {
    width: 55px;
}

input {
    border: 1px solid black;
    width: 210px;
    text-align: center;
}

/* Game Area */

#game-area {
    background-color: #4f6b81;
}

/* Playing Field */

#playing-field-area {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#playing-field-area * {
    font-size: 1rem;
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Space Mono';
    margin: 0 20px;
}

#top-menu > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    font-size: 1rem;
    height: 30px;
    width: 30px;
    margin: 1px;
    color: rgba(102, 79, 79, 0);
}

.square:hover {
    background-color: rgb(185, 182, 182);
}

.square:active {
    background-color: rgb(196, 145, 145);
}

#smileyface {
    font-family: 'Space Mono';
    font-weight: 600;
}