@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
}

body {
    color: #000;
    background: white;
}

a {
    text-decoration: none;
    color: inherit
}

#game-area {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#difficulty-settings {
    font-size: 1.5rem;
    text-align: center;
    display: inline-grid;
    align-content: center;
}

#difficulty-settings > form {
    display: flex;
    justify-content: center;
}

.input-field-number {
    font-size: 1.5rem;
    width: 55px;
}

input {
    font-size: 1.5rem;
    border: 1px solid black;
    width: 210px;
    text-align: center;
}

/* Game Area */

#game-area {
    background-color: #4f6b81;
}

/* Playing Field */

#playing-field-area {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Space Mono';
}

#top-menu > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
}

.square {
    font-size: 1rem;
    height: 30px;
    width: 30px;
    margin: 1px;
    color: rgba(102, 79, 79, 0);
}

.square:hover {
    background-color: rgb(185, 182, 182);
}

.square:active {
    background-color: rgb(196, 145, 145);
}

#smileyface {
    font-family: 'Space Mono';
    font-weight: 600;
}